 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
:root {
 --main-color: #db3025
}
nav a.active  {
  color: var(--main-color);
  background-color: rgb(236, 236, 236);
}
.box {
  grid-row: 1 / -1;
}